# Hyprland Config
monitor={{ .monitor_primary }},{{ .monitor_res }},auto,1
exec-once=waybar
input {
    kb_layout=tr
}
general {
    gaps_in=2
    gaps_out=2
    border_size=1
    col.active_border={{ .theme_color }}
}
decoration {
    rounding=0
}
